body{
    background-color: #0D0D0D;
    color: #f9f6f6;
}

.cursor-pointer {
    cursor: pointer;
}

.side-nav {
    z-index: 99;
}

.nav-tab{
    background-color: #0D0D0D;
}

.links ul li,
.nav-header i {
    cursor: pointer;
    transition: transform .5s;
}

.links ul li:hover {
    cursor: pointer;
    background-color: #000300;
    transform: translateX(10px);
}

.nav-header img {
    width: 50px;
}

.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-layer{
    top: 0;
}

.loading-screen{
    z-index: 999;
    display: flex;
}

.inner-loading-screen{
    position: absolute;
    z-index: 9;
    background-color: #0D0D0D;
    display: flex;
}

.search-input::placeholder {
    color: #f9f6f6;
}